.cart-page{
    padding: 1rem;
}
.alert {
    text-align: center;
    color: $orange;
    font-weight: bold;
}

.button {
    padding-left: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.cart {
    margin-bottom:5rem;
    .cart-empty {
        font-size:1.8em;
        text-align: center;
    }
    .back {
        font-size: 1.6em;
        margin: 5rem auto;
    }
    .producto-subtotal {
        display: flex;
        justify-content: space-between;
        p {
            font-size: 1.4em;
        }
    }
    .alt-title {
        margin-bottom: 0;
    }

}
/* .cart */

.wishlist {
    margin-top:8rem;
    .alt-title {
        font-size:1.8em;
    }
    .cart-empty {
        font-size:1.4em;
        text-align: center;
    }
}
/* .wishlist */

.cart, .wishlist {
    .items {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        .item {
            display: flex;
            flex-direction: row;
            background-color: #F7F7F7;
            padding: 1rem;
            margin-bottom: 1%;
            img {
                width: 4em;
                height: 4em;
            }
            .description {
                margin-left: 2%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .name-price {
                    display: flex;
                    justify-content: space-between;
                    .name {
                        margin: 0;
                        font-size: 1.8em;
                        margin-bottom: 1rem;
                    }
                    .price {
                        margin: 0;
                        font-size: 1.8em;
                        font-weight: bold;
                    }
                }
                .cart-quantity {
                    margin:0 0 1rem 0;
                    select {
                        width:7rem;
                        margin-right:0.4rem;
                        font-size: 1.6em;
                        padding: 0.6rem;
                    }
                    .button {
                        font-size:1.2em;
                        color: $orange;
                        .fas {
                            font-size:1.4em;
                            margin-right:0.5rem;
                        }
                    }
                    label{
                        font-size: 1.4em;
                        font-weight: bold;
                    }

                }
                .cart-actions {
                    margin: 0.5rem 0 1rem;
                    display: flex;
                    justify-content: space-between;
                    .button {
                        display: flex;
                        text-align: center;
                        font-size:1.2em;
                        align-items:center;
                        color: $verde-oscuro;
                        .far {
                            // color: $verde-oscuro;
                            font-size:1.6em;
                            margin-right:0.5rem;
                        }
                    }
                }
            
                form {
                    // display: inline-flex;
                    button {
                        margin: 0 0.2em 0 0.2em;
                        padding: 0;
                        background: none;
                    }
                }

                .unit-price {
                    margin-top: 0;
                    font-style: italic;
                    font-size: 1.2em;
                    letter-spacing: 0.1em;
                    color: $gris-medio;
                }
            }
        }
    }
}

.totales {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 5%;

    p {
        margin: 0;
        font-size: 1.2em;
        font-weight: bold;
        color: $gris-medio;
    }

    .subtotal {
        margin-top: 8%;
        font-weight: bold;
        font-size: 1.6em;
    }

    .total {
        font-weight: bold;
        font-size: 2.8em;
        color: #73A84D;
        margin: 2rem 0;
    }

    .botones-compra {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .alt-a {
            text-decoration: none;
            font-weight: 600;
            margin:2rem 0;
            transition:all 0.2s linear;
            &:hover {
                margin-right:1rem;
            }
        }
        input {
            margin: 10% 0 0 0;
        }
    }
}

@media all and (min-width:400px){
    .cart, .wishlist {
        .items {
            .item {
                .description {
                    .cart-actions {
                        justify-content: flex-start;
                        form:first-child {
                            margin-right:2rem;
                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width:550px){
    .cart, .wishlist {
        .items {
            .item {
                img {
                    width:15rem;
                    height:auto;
                }
                .description {
                    .name-price {
                        .name, .price {
                            font-size:2em;
                        }
                    }
                    .unit-price {
                        font-size:1.2em;
                    }
                    .cart-actions {
                        margin: 2rem 0;
                        .button {
                            font-size:1.2em;
                        }
                        form:first-child {
                            margin-right:4rem;
                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width:768px){
    .cart {
        .back {
            width:30rem;
        }
    }
}