.exito{
  height: 40vh;
  margin:13rem 0;
}
.container-exito {
  text-align: center;
  a {
    font-size: 1.8em;
  }
}
 
@media all and (min-width:768px){
    // .btn.gris {
    //     width:300px;
    // }
}
