.medio-de-pago {
  position: relative;
  min-height: 6rem; }
  .medio-de-pago span {
    font-size: 1.5em;
    position: absolute;
    top: -5px;
    left: 2.5rem;
    max-width: 230px; }

#formPago {
  margin-bottom: 2rem; }

.showroom-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

@media all and (min-width: 400px) {
  .medio-de-pago {
    position: static;
    min-height: auto; }
    .medio-de-pago span {
      font-size: 1.6em;
      display: inline-block;
      margin: 1rem 0 0 1rem;
      position: static;
      max-width: none; } }

@media all and (min-width: 991px) {
  .showroom-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .showroom-items section {
      width: 45%; } }
