.top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 2rem 0 1rem; }
  .top-info .order-title {
    font-size: 1.2em;
    border-radius: 6px;
    padding: 8px;
    color: white;
    font-weight: 600; }
  .top-info .order-date {
    font-size: 1.2em;
    color: #4c4c4d; }
    .top-info .order-date span {
      font-weight: 600; }

.order-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: 1px solid #dddbdb;
  border-radius: 4px; }
  .order-details .detail {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 33%;
    flex: 1 0 33%;
    border-right: 1px solid #dddbdb;
    padding: 10px;
    background: #e9ecef; }
    .order-details .detail:nth-child(1), .order-details .detail:nth-child(2), .order-details .detail:nth-child(3) {
      border-bottom: 1px solid #dddbdb; }
    .order-details .detail:nth-child(3), .order-details .detail:nth-child(6) {
      border-right: none; }
    .order-details .detail p {
      font-size: 1.2em;
      color: #4c4c4d; }
      .order-details .detail p span {
        font-weight: 600; }
